<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
.demo {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
}
#effect {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.shrink {
    background: red;
    width: 50px !important;
}
.highlight{
    background: greenyellow;
    width: 200px !important;
}
.red {
    background-color:red;
}
.green {
    background-color:green;
}
.yellow {
    background-color:yellow;
}
</style>
<body>
<div id="app">
    <a :href="link">Google</a> <p v-html="finishedLink"></p>
    <p v-once> {{ name }} {{ age }}</p>
    <input type="text" :value="name">
    <button @click="incr(2)">Increase age</button>
    <p>age increasing: {{ age }}</p>
    <p>{{ judgeself }}  </p>
    <p @mousemove="updatecor">
        Cor: {{x}} and {{y}}
        - <span @mousemove="dummy"> Dead Spot</span>
        - <span @mousemove.stop=""> Dead Spot2</span>
    </p>
    <input type="text" @keyup.enter.space="alertw">
    <hr>
    <button @click="alertw">show alert</button>
    <input type="text" @keydown.enter="value = $event.target.value">
    <p>{{ value }}</p>
    <input type="text" v-model="name">
    <p>{{ name }}</p>
    <hr>
    <p>About css code</p>
    <div class="demo"
         @click="attachRed = !attachRed"
         :class="divClasses"></div>
    <div class="demo" :class="[color, {red: attachRed}]"></div>
    <input type="text" v-model="color" style="width: 50px">
    <input type="text" v-model="width" style="width: 50px">
    <div class="demo" :style="{backgroundColor: color}"></div>
    <div class="demo" :style="[mystyle, {height: width+'px'}]"></div>
    <hr>
    <div>
        <button @click="startEffect">Start Effect</button>
        <div id="effect" :class="effectClass"></div>
    </div>
    <input type="text" v-model="mySty.backgroundColor">
    <div :style="mySty"></div>
</div>
<script src="vue.js">
</script>
<script>
<!--initial-->
new Vue ({
el: '#app',
data: {
    title: 'I am funny!',
    link: 'http://google.com',
    name: 'comer',
    age:30,
    x:0,
    y:0,
    finishedLink: '<a href="http://google.com">Google</a>',
    value:0,
    attachRed: false,
    color: 'green',
    width: 100,
    height: 100,
    effectClass: {
        highlight: false,
        shrink: true,
    },
    mySty: {
        width: '80px',
        height: '80px',
        backgroundColor: 'blue'
    },
},
    computed: {
        judgeself: function (){
            return this.age==40 ? 'too old':'so young';
        },
        divClasses: function (){
            return {
                red: this.attachRed,
                green: !this.attachRed
            };
        },
        mystyle: function() {
            return {
                width: this.width + 'px',
                backgroundColor: this.color,
            }
        }
    },
    watch: {
        judgeself: function(value) {
        var vm = this;
        setTimeout(function(){
            vm.age = 30;
        },3000);
    }

    },
    methods: {
        incr: function (step) {
            this.age += step
        },
        updatecor: function (event){
            this.x=event.clientX;
            this.y=event.clientY
        },
        dummy: function (event) {
            event.stopPropagation();
        },
        alertw: function (){
            alert('stop!');
        },
        getvalue: function (event){
            this.value = event.target.value;
        },
        startEffect: function (){
            var vm=this;
            setInterval(function() {
                vm.effectClass.highlight = !vm.effectClass.highlight;
                vm.effectClass.shrink = !vm.effectClass.shrink;
            },2000)
        },
    }
})
</script>
</body>
</html>