<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<p v-if="show">You can <span> or not </span> see me</p>
    <p v-else>Now you can see</p>
    <template v-if="show">
        <h1>Heading</h1>
        <p>Inside a template</p>
    </template>
    <p v-show="show">Do you still see me?</p>
    <button @click="show=!show">Switch display show</button>
    <ul>
        <li v-for="(ingredient, seq) in ingredients" :key="ingredient">{{ ingredient }} ({{ seq }})</li>
    </ul>
    <template v-for="(ingredient, index) in ingredients">
        <h5>{{ingredient}}</h5>
        <p>{{index}}</p>
    </template>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value,key,index) in person">{{key}}: {{value}}({{index}}), </div>
        </li>
    </ul>
    <button @click="ingredients.push('spaces')">Add new items</button>
    <hr>
    <button @click="nshow = !nshow">Change: {{nshow}}</button>
    <p v-if="nshow">I am here</p>
    <p v-else>I am there</p>
    <p v-show="nshow">Still here</p>
    <p v-show="!nshow">Still there</p>
</div>
<script src="vue.js">
</script>
<script>
    new Vue ({
        el: '#app',
        data: {
            show: true,
            nshow: true,
            ingredients: ['meat','fruit','cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
            ],

        }
    })
</script>
</body>
</html>