<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<p v-if="show">You can <span> or not </span> see me</p>
    <p v-else>Now you can see</p>
    <template v-if="show">
        <h1>Heading</h1>
        <p>Inside a template</p>
    </template>
    <p>Do you still see me?</p>
    <button @click="show=!show">Switch display show</button>
</div>
<script src="vue.js">
</script>
<script>
    new Vue ({
        el: '#app',
        data: {
            show: true
        }
    })
</script>
</body>
</html>